v-container(fluid grid-list-lg text-xs-center)
  h2.mb-4 SeoMeta {{ model.id? 'edit' : 'create' }}
  v-form(@submit.prevent='submit')
    v-btn(type='submit') submit
    v-layout(row wrap v-if='model')
      v-flex(xs12)
        h2.d-inline-block.mr-3 Ключевые слова
        v-btn.text-xs-left(fab dark small color='primary' @click='addKey()')
          v-icon(dark) add

      template(v-for='(key, index) in model.keys')
        v-flex(md6 xs12 :key='index')
          v-layout(row wrap)
            v-flex(sm10 xs12)
              v-text-field(:label='"Ключ " + index' v-model='model.keys[index]'
                :name='"key-" + index' v-validate='"required"' :error-messages='errors.collect("key-" + index)')

            v-flex(sm2 xs12)
              v-btn(fab dark small color='red' @click='removeKey(index)')
                v-icon(dark) remove

      v-flex(xs12)
        v-text-field(label='Keywords' v-model='model.keywords' multi-line rows='2' auto-grow)

      v-flex(xs12)
        v-text-field(label='Description' v-model='model.description' multi-line rows='2' auto-grow)

      v-flex(xs12)
        v-text-field(label='Title' v-model='model.title'
          name='title' v-validate='"max:150"' :error-messages='errors.collect("title")')

      v-flex(xs12 text-xs-center)
        v-btn(type='submit') submit
        v-btn(@click='clear') clear
