.DS_Store
_doc
node_modules
tmp
.env
package-lock.json
yarn.lock
*.log
ormconfig.json

database/development.sqlite
dist/
src/**/*.map
coverage/
public/

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
