v-container(fluid grid-list-lg text-xs-center)
  h2.mb-4 Manufacture {{ model.id? 'edit' : 'create' }}
  v-form(@submit.prevent='submit')
    v-layout(row wrap v-if='model')
      v-flex(xs12)
        v-select(label='Товар' v-model='model.product' autocomplete
          :items='productList' item-text='name' item-value='id' return-object
          name='product' v-validate='"required"' :error-messages='errors.collect("product")')

      v-flex(xs12)
        h2.d-inline-block.mr-3 Схема
        v-btn.text-xs-left(fab dark small color='primary' @click='addSchemaItem()')
          v-icon(dark) add

      v-flex(xs12)
        v-layout.mb-3(row wrap v-for='(schemaItem, index) in model.schema' :key='index' :class='index % 2 === 0 ? "grey lighten-3": null')
          v-flex(md3 sm6 xs12)
            v-text-field(label='Название свойства' v-model='schemaItem.name'
              :name='"sName " + (index + 1)' v-validate='"required|max:50"' :error-messages='errors.collect("sName " + (index + 1))')
          v-flex(md3 sm6 xs12)
            v-text-field(label='Ключ (англ)' v-model='schemaItem.key'
              :name='"sKey " + (index + 1)' v-validate='"required|max:50"' :error-messages='errors.collect("sKey " + (index + 1))')
          v-flex(md3 sm6 xs12)
            v-select(label='Тип' v-model='schemaItem.type' :items='schemaTypeList' item-text='name' item-value='id'
              :name='"sType " + (index + 1)' v-validate='"required"' :error-messages='errors.collect("sType " + (index + 1))')
          v-flex(md2 sm4 xs8)
            v-checkbox(label='Обязательное' v-model='schemaItem.isRequired')
          v-flex(md1 sm2 xs4)
            v-btn(fab dark small color='red' @click='removeSchemaItem(schemaItem)')
              v-icon(dark) remove

          //- 4 === ManufactureSchemaTypes.TEXT
          template(v-if='schemaItem.type !== 4')
            v-flex(xs12)
              h3.d-inline-block.mr-3 Опции
              v-btn.text-xs-left(fab dark small color='primary' @click='addOption(schemaItem)')
                v-icon(dark) add

            v-flex(xs12)
              v-layout(row wrap v-for='(option, index2) in schemaItem.optionList' :key='index2')
                v-flex(md4 sm6 xs12)
                  v-text-field(label='Название' v-model='option.name'
                    :name='"oName " + index+" "+(index2 + 1)' v-validate='"required|max:50"' :error-messages='errors.collect("oName " + index+" "+(index2 + 1))')
                v-flex(md4 sm6 xs12)
                  //- 2 === ManufactureSchemaTypes.SELECT_IMAGE
                  v-text-field(v-if='schemaItem.type !== 2' label='Заначение (англ)' v-model='option.value'
                    :name='"oValue " + index+" "+(index2 + 1)' v-validate='"required|max:200"' :error-messages='errors.collect("oValue " + index+" "+(index2 + 1))')

                  image-upload(v-else v-model='option.value' value-type='filepath')

                v-flex(md3 sm8 xs9)
                  v-text-field(label='Стоимость' v-model.number='option.price' type='number'
                    :name='"oPrice " + index+" "+(index2 + 1)' v-validate='"required"' :error-messages='errors.collect("oPrice " + index+" "+(index2 + 1))')
                v-flex(md1 sm4 xs3)
                  v-btn(fab dark small color='red' @click='removeOption(schemaItem, option)')
                    v-icon(dark) remove

                v-flex(xs12 v-if='index2 + 1 < schemaItem.optionList.length')
                  v-divider

      v-flex(xs12 text-xs-center)
        v-btn(type='submit') submit
        v-btn( @click='clear') clear
