v-container(fluid grid-list-lg text-xs-center)
  h2.mb-4 Remind {{ model.id? 'edit' : 'create' }}
  v-btn(type='submit') submit
  v-form(@submit.prevent='submit')
    v-layout(row wrap v-if='model' align-end)
      v-flex(md6 xs12)
        v-text-field(label='Name' v-model='model.description' multi-line rows='2' auto-grow
        name='description' v-validate='"required|max:250"' :error-messages='errors.collect("description")')

      v-flex(md3 xs8)
        v-menu(lazy ref='datePicker' v-model='datePicker' :return-value.sync='model.remindAt'
          bottom offset-y :close-on-content-click="false" transition="scale-transition")
          v-text-field(slot="activator" label="Дата напоминания" v-model="model.remindAt" prepend-icon="event")
          v-date-picker(v-model="model.remindAt" no-title scrollable actions)
            template(slot-scope="{ save, cancel }")
              v-card-actions
                v-spacer
                v-btn(flat color="primary" @click="datePicker = false") Cancel
                v-btn(flat color="primary" @click="$refs.datePicker.save(model.remindAt)") OK

      v-flex(md3 xs4)
        v-checkbox(label='Отработано' v-model='model.isStopped')

      v-flex(xs12 text-xs-center)
        v-btn(type='submit') submit
        v-btn( @click='clear') clear
