v-container(fluid grid-list-lg text-xs-center)
  h2.mb-4 Rejection {{ model.id? 'edit' : 'create' }}
  v-form(@submit.prevent='submit')
    v-layout(row wrap v-if='model')
      v-flex(xs12)
        v-select(label='Причина' v-model='model.reason' :items='reasonList' item-text='name' item-value='id'
          name='reason' v-validate='"required"' :error-messages='errors.collect("reason")')

      v-flex(xs12)
        v-text-field(label='Описание' v-model='model.description' multi-line rows='2' auto-grow)

      v-flex(xs12 text-xs-center)
        v-btn(type='submit') submit
        v-btn( @click='clear') clear
