v-container(fluid grid-list-lg text-xs-center)
  h2.mb-4 Shop {{ model.id? 'edit' : 'create' }}
  v-form(@submit.prevent='submit')
    v-layout(row wrap v-if='model')
      v-flex(md4 xs12)
        v-text-field(label='Название' v-model='model.name'
          name='name' v-validate='"required|max:100"' :error-messages='errors.collect("name")')

      v-flex(md4 sm6 xs12)
        v-text-field(label='Домен' v-model='model.host'
          name='domain' v-validate='"required|max:100"' :error-messages='errors.collect("host")')

      v-flex(md4 sm6 xs12)
        v-text-field(label='Порт' v-model.number='model.port' type='number'
          name='port' v-validate='"required|numeric|max_value:65535|min_value:3000"' :error-messages='errors.collect("port")')

      v-flex(sm4 xs10)
        v-select(label='Seo meta' v-model='model.seoMeta' autocomplete
          :items='seoMetaList' item-text='title' item-value='id' return-object
          name='seoMeta' v-validate='"required"' :error-messages='errors.collect("seoMeta")')

      v-flex(xs2)
        v-btn(color='primary' fab small dark @click='dialogSeoMeta = true')
          v-icon add

      v-flex(xs12)
        v-select(label='Города' v-model='model.cityList' name='cityList' multiple autocomplete chips
          :items='cityList' item-text='name' item-value='id' return-object)

      v-flex(xs12 text-xs-center)
        v-btn(type='submit') submit
        v-btn( @click='clear') clear

  v-dialog(v-model='dialogSeoMeta' transition='dialog-bottom-transition')
    .bg__white
      r-seo-meta-edit(:id='0' :onSubmit='onSeoMetaSubmit')
