v-container(fluid grid-list-lg text-xs-center)
  h2.mb-4 Shop {{ model.id? 'edit' : 'create' }}
  v-form(@submit.prevent='submit')
    v-layout(row wrap v-if='model')
      v-flex(md4 xs12)
        v-text-field(label='Название' v-model='model.name'
          name='name' v-validate='"required|max:100"' :error-messages='errors.collect("name")')

      v-flex(md4 sm6 xs12)
        v-text-field(label='Домен' v-model='model.host'
          name='domain' v-validate='"required|max:100"' :error-messages='errors.collect("host")')

      v-flex(md4 sm6 xs12)
        v-text-field(label='Порт' v-model='model.port' type='number'
          name='port' v-validate='"required|numeric|max_value:99999|min_value:3000"' :error-messages='errors.collect("port")')

      v-flex(xs12)
        v-select(label='Города' v-model='model.cityList' name='cityList' multiple autocomplete chips
          :items='cityList' item-text='name' item-value='id' return-object)

      v-flex(xs12 text-xs-center)
        v-btn(type='submit') submit
        v-btn( @click='clear') clear
