v-container(fluid grid-list-lg text-xs-center)
  h2.mb-4 PaymentService {{ model.id? 'edit' : 'create' }}
  v-form(@submit.prevent='submit')
    v-btn(type='submit') submit
    v-layout(row wrap v-if='model')
      v-flex(md6 xs12)
        v-text-field(label='Название' v-model='model.name'
          name='name' v-validate='"required|max:100"' :error-messages='errors.collect("name")')

      v-flex(md6 xs12)
        v-select(label='Сервис доставки' v-model='model.deliveryService' autocomplete
          :items='deliveryServiceList' item-text='name' item-value='id' return-object)

      v-flex(md6 xs12)
        v-text-field(label='Комиссия' v-model='model.tax' type='number'
          name='tax' v-validate='"required"' :error-messages='errors.collect("tax")')

      v-flex(md6 xs12)
        v-select(label='Тип комиссии' v-model='model.taxType' :items='taxTypeList' item-text='name' item-value='id'
          name='taxType' v-validate='"required"' :error-messages='errors.collect("taxType")')

      v-flex(xs12 text-xs-center)
        v-btn(type='submit') submit
        v-btn( @click='clear') clear
