v-container(fluid grid-list-lg text-xs-center)
  h2.mb-4 Product {{ model.id? 'edit' : 'create' }}
  v-form(@submit.prevent='submit')
    v-layout(row wrap v-if='model' align-center)
      v-flex(v-if='model.manufacture' xs12)
        v-btn(@click='$router.push("/Manufacture/"+ model.manufacture.id +"/edit")') Мануфактура

      v-flex(sm8 xs12)
        v-text-field(label='Название' v-model='model.name' name='name'
          v-validate='"required|max:100"' :error-messages='errors.collect("name")')

      v-flex(sm4 xs12)
        v-select(v-if='!model.id' label='Магазин' v-model='model.shop'  autocomplete
          :items='shopList' item-text='name' item-value='id' return-object
          name='shop' v-validate='"required"' :error-messages='errors.collect("shop")')
        p(v-if='model.id') {{ `${model.shop.name} (${model.shop.host})` }}

      v-flex(xs12)
        v-text-field(label='Описание' v-model='model.description' name='description' multi-line rows='2' auto-grow)

      v-flex(md4 xs10)
        v-select(label='Seo meta' v-model='model.seoMeta' autocomplete
          :items='seoMetaList' item-text='title' item-value='id' return-object)

      v-flex(xs2)
        v-btn(color='primary' fab small dark @click='dialogSeoMeta = true')
          v-icon add

      v-flex(xs12)
        h2.d-inline-block.mr-3 Свойства
        v-btn(fab dark small color='primary' @click='addProperty()')
          v-icon(dark) add

      v-flex(xs12)
        v-layout(row wrap v-for='(property, index) in model.propertyList' :key='index' :class='index % 2 === 0? "grey lighten-3" : null')
          v-flex(sm5 xs12)
            v-text-field(label='Название' v-model='property.name'
              :name='"name " + (index + 1)' v-validate='"required|max:100"' :error-messages='errors.collect("name " + (index + 1))')
          v-flex(sm5 xs12)
            v-text-field(label='Значение' v-model='property.value'
              :name='"value " + (index + 1)' v-validate='"required"' :error-messages='errors.collect("value " + (index + 1))')
          v-flex(sm2 xs12)
            v-btn(fab dark small color='red' @click='removeProperty(index)')
              v-icon(dark) remove

      v-flex(xs12)
        h2.d-inline-block.mr-3 Категории
        v-btn(fab dark small color='primary' @click='addCategory()')
          v-icon(dark) add

      template(v-for='(categoryItem, index) in model.categoryList')
        v-flex(md6 xs12 :key='index')
          v-layout(row wrap :class='index % 2 === 0? "grey lighten-3" : null')
            v-flex(xs10)
              v-select(label='Категория' v-model='categoryItem.category' autocomplete
                :items='categoryList | filter(filterSelectedCategory(categoryItem))' item-text='name' item-value='id' return-object
                :name='"category " + (index + 1)' v-validate='"required"' :error-messages='errors.collect("category " + (index + 1))')
            v-flex(sm5 xs12)
              v-checkbox(label='главная' v-model='categoryItem.isMain' @change='checkSingleMainCategory(index)')

            v-flex(sm2 xs12)
              v-btn(fab dark small color='red' @click='removeCategory(index)')
                v-icon(dark) remove

      v-flex(xs12 text-xs-center)
        v-btn(type='submit') submit
        v-btn( @click='clear') clear

  v-dialog(v-model='dialogSeoMeta' transition='dialog-bottom-transition')
    .bg__white
      r-seo-meta-edit(:id='0' :onSubmit='onSeoMetaSubmit')
