v-container(fluid grid-list-lg text-xs-center)
  h2.mb-4 PreManufacture {{ model.id? 'edit' : 'create' }}
  v-form(@submit.prevent='submit')
    v-layout(row wrap v-if='model')
      v-flex(sm8 xs12)
        v-text-field(label='Название' v-model='model.name'
          name='name' v-validate='"required|max:100"' :error-messages='errors.collect("name")')

      v-flex(sm4 xs12)
        v-select(label='Продукт' v-model='model.manufacture' autocomplete @change='onSelectManufacture($event)'
          :items='manufactureList' item-text='product.name' item-value='id' return-object
          name='manufacture' v-validate='"required"' :error-messages='errors.collect("manufacture")')

      v-flex(xs12)
        v-text-field(label='Описание' v-model='model.description' multi-line rows='2' auto-grow
          name='description' v-validate='"required"' :error-messages='errors.collect("description")')

      v-flex(sm4 xs10)
        v-select(label='Метатэги' v-model='model.seoMeta' autocomplete
          :items='seoMetaList' item-text='keys[0]' item-value='id' return-object
          name='seoMeta' v-validate='"required"' :error-messages='errors.collect("seoMeta")')

      v-flex(xs2)
        v-btn(color='primary' fab small dark @click='dialogSeoMeta = true')
          v-icon add

      v-flex(xs12)
        image-upload(v-model='model.imageList' :multiple='true')

      v-flex(xs12)
        h2 Конфиг

      template(v-if='model.manufacture' v-for='(item, index) in model.config')
        v-flex(md6 xs12 :key='"m" + index')
          v-layout(row wrap align-baseline)
            v-flex(sm3 xs12 style='align-self: center')
              span {{ item.name }}

            v-flex(sm6 xs12)
              //- 2 === ManufactureSchemaTypes.SELECT_IMAGE
              v-select(v-if='model.manufacture.schema[index].type === 2' label='Значение' v-model='item.value'  clearable
                :items='model.manufacture.schema[index].optionList' item-text='name' item-value='value')
                template(slot='selection' slot-scope='data')
                  img(:src='data.item.value' style='height:60px')
                template(slot='item' slot-scope='data')
                  img(:src='data.item.value' style='height:100%')

              v-select(v-else label='Значение' v-model='item.value'  clearable
                :items='model.manufacture.schema[index].optionList' item-text='name' item-value='value')

            v-flex(sm3 xs12)
              v-checkbox(label='Не изменяемо' v-model='item.isLocked')

      v-flex(xs12)
        h2.d-inline-block.mr-3 Категории
        v-btn(fab dark small color='primary' @click='addCategory()')
          v-icon(dark) add

      template(v-for='(categoryItem, index) in model.categoryList')
        v-flex(md6 xs12 :key='"c" + index')
          v-layout(row wrap :class='index % 2 === 0? "grey lighten-3" : null' align-center)
            v-flex(sm7 xs12)
              v-select(label='Категория' v-model='categoryItem.category' autocomplete
                :items='categoryList | filter(filterSelectedCategory(categoryItem))' item-text='name' item-value='id' return-object
                :name='"category " + (index + 1)' v-validate='"required"' :error-messages='errors.collect("category " + (index + 1))')
            v-flex(sm3 xs7)
              v-checkbox(label='главная' v-model='categoryItem.isMain' @change='checkSingleMainCategory(index)')

            v-flex(sm2 xs5)
              v-btn(fab dark small color='red' @click='removeCategory(index)')
                v-icon(dark) remove

      v-flex(xs12 text-xs-center)
        v-btn(type='submit') submit
        v-btn(@click='clear') clear
        v-btn(v-if='model.id' @click='createFromModel') создать из текущего

  v-dialog(v-model='dialogSeoMeta' transition='dialog-bottom-transition')
    .bg__white
      r-seo-meta-edit(:id='0' :onSubmit='onSeoMetaSubmit')
