v-container(fluid grid-list-lg text-xs-center)
  h2.mb-4 User {{ model.id? 'edit' : 'create' }}
  v-form(@submit.prevent='submit')
    v-btn(type='submit') submit
    v-layout(row wrap v-if='model')
      v-flex(md4 xs12)
        v-text-field(label='Name' v-model='model.username' name='username'
          v-validate='"required|max:20"' :error-messages='errors.collect("username")')

      v-flex(md4 xs12)
        v-text-field(label='E-mail' v-model='model.email' name='email'
          v-validate='"required|email"' :error-messages='errors.collect("email")')

      v-flex(md4 xs12)
        v-text-field(v-if='!model.id' label='Password' v-model='model.password' name='password'
          v-validate='"required"' :error-messages='errors.collect("password")')

      v-flex(xs12 text-xs-center)
        v-btn(type='submit') submit
        v-btn(@click='clear') clear
