v-container(text-xs-center)
  v-layout(row wrap)
    v-flex.mb-3(xs12)
      h2 User {{ model.id? 'edit' : 'create' }}
    v-flex(xs12)
      v-form(@submit.prevent='submit')
        template(v-if='model')
          v-text-field(label='Name' v-model='model.username' name='username'
            v-validate='"required|max:20"' :error-messages='errors.collect("username")')
          v-text-field(label='E-mail' v-model='model.email' name='email'
            v-validate='"required|email"' :error-messages='errors.collect("email")')
          v-text-field(v-if='!model.id' label='Password' v-model='model.password' name='password'
            v-validate='"required"' :error-messages='errors.collect("password")')

          v-btn(type='submit') submit
          v-btn(@click='clear') clear
