v-container(text-xs-center)
  v-layout(row wrap)
    v-flex.mb-3(xs12)
      h2 Remind list
    v-flex(xs12)
      v-data-table.elevation-1(:headers="headers" :items="list" hide-actions)
        template(slot="items" slot-scope="props")
          td(v-for='header in headers'
              :class='{"text-xs-right": header.value !== "id"}') {{ props.item[header.value] }}
            template(v-if='header.actionList' v-for='action in header.actionList')
              v-btn(flat :icon='!!action.icon' :title='action.name'
                  @click='action.onClick(props.item.id)' ) {{ action.icon? '' : action.name }}
                v-icon(v-if='action.icon') {{ action.icon }}

  v-btn(fab bottom right color='pink' dark fixed @click='$router.push($route.path + "/0/edit")')
    v-icon add
